.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #080c33;
    width:100% ;
    height: 70px;
  }
header{
    display: flex;

    width:100% ;
    height: 70px;
    background: #080c33;
   
    .navigation{
        width: 100%;
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        align-items: center;
   
   
    nav{
        display: flex;
      flex-direction: row;
      gap: 1em;
    width: 100%;
    grid-area: 1/4/4/4;
    margin-right: 10px;
    }
        
        a{
            text-decoration: none;
            color: white;
            font-weight:bolder;
            font-size: 18px;
           
        }
        a:nth-of-type(1){
            border: 0;
        }
        a:hover{
          
            color: #8eccc9;
            font-size: 20px;
            transition: 0.5s all ease-in-out;
        }
        
    }
    .logo{
        margin-left: 20px;
        grid-area: 2/4/3/1;
        @media  screen and (min-width: 440px){
            margin-left: 0;
        }
      
        img{
            padding-left: 10px;
            width: 150px;
            object-fit: cover;
            @media  screen and (min-width: 1200px){
                width: 230px;
                padding-left: 20px;
            }
        }
        a{
            text-decoration: none;
            color: #080c33;
            width: 250px;
        }
       
       
    }
    
    
}
